<div *ngIf="Employees; else elseBlock">
	<table class="datatable">
		<thead>
      <tr

    >	<th><input type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)"></th>
				<!-- <th>ID</th> -->
				<th mat-sort-header="name">Name</th>
				<th>Email</th>
				<th mat-sort-header="address">Address</th>
        <th>Phone No</th>
        <th>Actions
        </th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let p of Employees  | paginate
      : {
          itemsPerPage: tableSize,
          currentPage: page,
          totalItems: count
        }; let i=index; let odd = odd" [ngClass]="odd ? 'odd_col' : 'even_col'

">
				<td><input type="checkbox" value="{{p.empId}}" [(ngModel)]="Employees[i].checked"></td>
				<td>{{ p.empName }}</td>
				<td>{{ p.empEmail }}</td>
				<td>{{ p.empAddress }}</td>
        <td>{{ p.empPhone }}</td>
       <td>

        <button type="button" class="btn btn-outline-success"
        (click)="editEmployeeClicked()">Edit</button>
        <button type="button" class="btn btn-outline-danger" (click)="deleteEmployee(employee)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
        </svg>
        </button>
        <!-- <button type="button" class="btn btn-outline-danger" (click)="deleteEmployees()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
        </svg>
        </button> -->
       </td>

			</tr>
		</tbody>
	</table>
  <div class="d-flex justify-content-center">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>
  </div>
</div>
<ng-template #elseBlock>No record found</ng-template>
