<nav class="navbar nav-color">
  <span class="navbar-brand h1 m-2">Manage Employees</span>
  <div class="position-absolute top-right">
      <button type="button" class="btn btn-success btn-lg" data-bs-toggle="modal"
      data-bs-target="#exampleModal" #addnewEmployee >
        <img src="./../../assets/images/icons8-add-new-100.png" class="img_size">
        Add New Employee
      </button>
  </div>

  <div class="position-absolute top-center">
    <button type="button" class="btn btn-danger btn-lg">
      <img src="./../../assets/images/icons8-minus-sign-64.png" class="img_size">
      Delete
    </button>
  </div>
</nav>
<app-spinner></app-spinner>


<div class="row mt-4">
  <div class="col">
    <app-employees-table [employee]="employee"
    (onEditEmployee)="editEmployee($event)"></app-employees-table>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enter Employee Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">

  <form [formGroup]="EmployeeForm">
    <div class="row m-2">
        <input type="text" class="form-control" placeholder="Name" formControlName="empName">
    </div>
      <div class="row m-2">
        <input type="text" class="form-control" placeholder="Email" formControlName="empEmail">
      </div>
      <div class="row m-2">
        <input type="text" class="form-control" placeholder="Address" formControlName="empAddress">
      </div>
      <div class="row m-2">
        <input type="text" class="form-control" placeholder="Phone NO." formControlName="empPhone">
      </div>
  </form>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addEmployee()">Insert</button>
</div>
</div>
</div>
</div>
